#container{
    display:block;
    /*height: 255px;*/
    width: 340px;
    color:white;
    padding: 8px;
}

.bgChatUI{
    margin: 4px; 
    bottom: 60px;
    /*height: 200px;
    overflow-y: scroll;*/
    font-size: 12px;
  }

  .yourPlayer{
    color:rgb(155, 155, 155);
  }

  .inputChat{
   /*position: absolute;
   bottom: 0px;
   height: 50px;*/
   width: 100%;
   text-align: center;
  }

  .bgLineUI{
    border-radius: 5px;
    background: rgba(46, 46, 46, 0.9);
    font-size: 12px;
    padding: 5px;
}