<div id= "container">

  <div >
  <h2>About Protaguro$</h2>
  <div>
    I am Alex Krunch, Imageboard lover since now ten years and I've created Protaguro$ (the project name will change soon)
    In response to the growing and industrialized censorship on social medias. This whole 3D world is set to work as
    an abstraction, protecting our LULZ from the outside. Soon I will make a blog explaining the whole ideology of the Project,
    and also cool technical feature I will implement, like secrets board, items management and <i>torrenting files in game</i>.

   Keep in mind it's a prototype and than bug and database reset will be a frequent thing.

    You can keep news of THE PROJECT here:
    <a href="https://twitter.com/alexkrunch" target="blank_">https://twitter.com/alexkrunch</a>

    You can also contact by mail at <b>monsieur.krunch@gmail.com</b>
  </div>

  <div>
    If you want to make a 💴 DONATION 💴 to the cause, here are the crypto address:<br/>

    <div class="card">
        <div class="card-body">
            Bitcoin address:<br/>
            <b>bc1qwc7zaa4tfeertxwk46jv9meyup9ep9cre8l8p7</b><br/>
        
            Etherum:<br/>
            <b>0xEE914adbb0A83e0FD8B90E292CAc6280D26b6b66</b><br/>
        </div>
    </div>
   
  </div>
  <button (click)="closeCanvas()">Close</button>

</div>

</div>
