.post-ui-message{
  position:relative;
  max-width: 650px;
  left: 0;
  right: 0;
  margin: auto;

  padding : 10px;
  margin-bottom : 18px;
  background-color: rgb(189, 198, 247);
  border-style: solid;
  border-width: 1px;
  border-color: #a99ec7;
  border-radius: 5px;

  height: 100%;
  overflow-y: auto;
}

#container{
  position:relative;
  max-width: 650px;
  left: 0;
  right: 0;
  margin: auto;

  padding : 10px;
  margin-bottom : 18px;
  background-color: rgb(189, 198, 247);
  border-style: solid;
  border-width: 1px;
  border-color: #a99ec7;
  border-radius: 5px;

  height: 100%;
  overflow-y: auto;
}

div {
  margin-bottom: 8px;
}
